{% extends 'base.html' %}

{% block title %}{{ pet.name }}{% endblock %}

{% block content %}
    <header style="position: relative;">
        <h1 style="margin: 0;">{{ pet.name }}</h1>
        <a href="{{ url_for('main.list_pets') }}" style="position: absolute; right: 0; top: 0; padding: 0.5rem; text-decoration: none;">&lt; My Pets</a>
    </header>

    <a href="{{ url_for('main.update_pet', pet_id=pet.id) }}" style="display:inline">
        <button type="button">Update Pet Details</button>
    </a>

    <p>Species: {{ pet.type.value if pet.type else pet.type }}</p>
    <p>DOB: {{ pet.dob }}</p>

    <p>Allergies:</p>
    {% if allergies %}
        <ul>
            {% for allergy in allergies %}
                <li>Name: {{ allergy["allergy_name"] }}, Severity: {{ allergy["severity"].value if allergy["severity"] else allergy["severity"] }}, Reactions: {{ allergy["reactions"] }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>None</p>
    {% endif %}

    <p>Vaccines:</p>
    <a href="{{ url_for('main.create_vaccine_record', pet_id=pet.id) }}" style="display:inline">
        <button type="button">Add Vaccine Record</button>
    </a>
    {% if vaccines %}
        <ul>
            {% for vaccine in vaccines %}
                <li>
                    <span>Name: {{ vaccine.name }}, Date: {{ vaccine.date_administered }}</span>
                    <a href="{{ url_for('main.edit_vaccine_record', pet_id=pet.id, vaccine_id=vaccine.id) }}" style="display:inline;margin-left:0.5rem">
                        <button type="button" style="display:inline">Edit</button>
                    </a>
                    <form method="post" action="{{ url_for('main.delete_vaccine_record', pet_id=pet.id, vaccine_id=vaccine.id) }}" style="display:inline;margin-left:0.5rem"
                        onsubmit="return confirm('Are you sure you want to delete this vaccination record?');">
                        <button type="submit" style="display:inline">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}